$border: #e6e6e6;
$selected: #D3F4FF;
$hovering: #FFE7E8;
$label-background: #B5D7FF;
$content-background: #FDF7E8;

.accbox {
  max-width: 450pt;
  div:first-child {
    .acc-label {
      border-top: 1px solid $border;
    }
  }
}

.acc-toggle {
  display: none;
  &:checked {
    ~ .acc-label {
      background-color: $selected;
      &:hover {
        background: $hovering;
      }
    }
    ~ .acc-content {
      height: auto;
      padding: 10px;
    }
  }
}

.acc-label {
  display: block;
  height: 30px;
  background-color: $label-background;
  border-bottom: 1px solid $border;
  cursor: pointer;
  transition: all 0.1s;
  &:hover {
    background: $hovering;
  }
  span {
    padding: 5px 10px 0px 10px;
    display: inline-block;
    text-align: left;
    width: 100%;
  }
}

.acc-content {
  height: 0;
  overflow-y: hidden;
  transition: all 0.2s;
  margin: 0pt;
  background-color: $content-background;
  ul {
    list-style-type: none;
  }
}
